#fileCounter{
    color: #8BC14D;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    left: 50rem;
    bottom: 20rem;
}

#scoreCounter{
    color:#579113;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    left: 50rem;
    bottom: 20rem;
}

.rules{
    position: relative;
    color:#579113;
    top: 30rem;
    left: 25rem;
}